<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
	</head>
	<body>
		<nav class="navbar" role="navigation">
			<a class="navbar-item" href="{{ url_for('index') }}">Home</a>
			<div class="navbar-item has-dropdown is-hoverable"> 
				<a class="navbar-link">Datasets Menu</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="{{ url_for('search_datasets') }}">
						Search Datasets
					</a>
					{% if current_user.is_authenticated %}
					<a class="navbar-item" href="{{ url_for('create_dataset') }}">
						Create Dataset
					</a>
					{% endif %}
				</div>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						{% if current_user.is_anonymous %}
						<a class="button is-light" href="{{ url_for('google.login') }}">
							Login
						</a>
						<a class="button is-primary" href="{{ url_for('register') }}">
							Sign up
						</a>
						{% else %}
						<a class="button is-light" href="{{ url_for('settings') }}">
							Settings
						</a>
						<a class="button is-light" href="{{ url_for('logout') }}">
							Logout
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<article class="message is-danger">
				<div class="message-body">
					<ul>
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
				</div>
			</article>
			{% endif %}
			{% endwith %}
		</div>

		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>