{% extends "base.html" %}

{% block content %}
    <section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Browse Datasets</h1>
            <h2 class="subtitle">
                Browse through available datasets! Click to view individual datasets and their contents.
            </h2>
        </div>
    </section>

    <hr>
    {% if results %}
    <div class="columns is-mobile is-multiline is-centered">
    {% for result in results %}
    <div class="column is-half">
        <div class="content is-small box">
            <h1>
                Title: {{ ' '.join(result['id'].split('_')) }}
            </h1>
            <p>Author: {{ result['author'] }}</p>
            <h3>Categories:</h3>
            <ul>
                {% for tag in result['tags'] %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul> 
            <br>
            <a class="button" href="{{ url_for('view_dataset', dataset_id=result['id']) }}">
                View Dataset
            </a>
        </div>
    </div>
    <hr>
    {% endfor %}
    </div>
    {% endif %}

    <br>
    {% if next_page_token %}
    <nav class="pagination is-medium" role="navigation" aria-label="pagination">
        <a class="pagination-next" href="{{ url_for('browse', _token=next_page_token) }}">
            Next 
        </a>
    </nav>
    {% else %}
    No more datasets :(
    {% endif %}
    
{% endblock %}