{% extends "base.html" %}

{% block content %}
	<section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Create New Dataset</h1>
        </div>
    </section>

    <section class="section is-small">
	    <div class="columns is-mobile">
			<form action="" method="post" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				<div class="field">
					<label class="label">{{ form.title.label }}</label>
					<div class="control">
						{{ form.title(size=32, class_="input") }}
					</div>
					{% for error in form.title.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="file">
					<label class="file-label">
		            	{{ form.files(multiple="true", class_="file-input") }}
		            	<span class="file-cta">
		            		<!--<span class="file-icon">
		            			<i class="fas fa-upload"></i>
		            		</span>-->
			            	<span class="file-label">
			            		Select dataset files
			            	</span>
			            </span>
		            </label>
		            {% for error in form.files.errors %}
		            <p class="help" style="color: red;">[{{ error }}]</p>
		            {% endfor %}
		        </div>
		        <div class="field">
		            <label class="label">
		            	{{ form.tags.label }} (optional comma separated list)
		            </label>
		            <div class="control">
		            	{{ form.tags(size=64, class_="input") }}
		            </div>
		            {% for error in form.tags.errors %}
		            <p class="help" style="color: red;">[{{ error }}]</p>
		            {% endfor %}
		        </div>

		        <h1 class="title">Permissions</h1>
		        <div class="field">
		        	<div class="control">
		        		<label class="checkbox">
		        			{{ form.world_readable() }} {{ form.world_readable.label }}
		        		</label>
		        	</div>
		        </div>
				<div class="field">
					<label class="label">
						{{ form.account_read_permissions.label }} (Optional comma separated list of usernames)
					</label>
					<div class="control">
						{{ form.account_read_permissions(size=64, class_="input") }}
					</div>
					{% for error in form.account_read_permissions.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">
						{{ form.account_write_permissions.label }} (Optional comma separated list of usernames)
					</label>
					<div class="control">
						{{ form.account_write_permissions(size=64, class_="input") }}
					</div>
					{% for error in form.account_write_permissions.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">
						{{ form.group_read_permissions.label }} (Optional comma separated list of group names)
					</label>
					<div class="control">
						{{ form.group_read_permissions(size=64, class_="input") }}
					</div>
					{% for error in form.group_read_permissions.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">
						{{ form.group_write_permissions.label }} (Optional comma separated list of group names)
					</label>
					<div class="control">
						{{ form.group_write_permissions(size=64, class_="input") }}
					</div>
					{% for error in form.group_write_permissions.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<div class="control">
						{{ form.submit(class_="button is-link") }}
					</div>
				</div>
			</form>
		</div>
	</section>

{% endblock %}