{% extends "base.html" %}

{% block content %}
	<section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Create New Group</h1>
        </div>
    </section>

    <section class="section is-medium">

    <div class="columns is-mobile">
    	<div class="column is-half">
			<form action="" method="post">
				{{ form.hidden_tag() }}
				<div class="field">
					<label class="label">{{ form.groupname.label }}</label> 
					<div class="control">
						{{ form.groupname(size=32, class_="input") }}
					</div>
					{% for error in form.groupname.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">{{ form.memberlist.label }} (Optional comma separated list)</label> 
					<div class="control">
						{{ form.memberlist(size=64, class_="input") }}
					</div>
					{% for error in form.memberlist.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">{{ form.adminlist.label }} (Optional comma separated list)</label> 
					<div class="control">
						{{ form.adminlist(size=64, class_="input") }}
					</div>
					{% for error in form.adminlist.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">{{ form.grouplist.label }} (Optional comma separated list)</label> 
					<div class="control">
						{{ form.grouplist(size=64, class_="input") }}
					</div>
					{% for error in form.grouplist.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<div class="control">
						{{ form.submit(class_="button is-link") }}
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}