{% extends "base.html" %}

{% block content %}
	<section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Sign In</h1>
        </div>
    </section>

    <section class="section is-medium">

    <div class="columns is-mobile is-centered">
    	<div class="column is-half box">
			<form action="" method="post" novalidate>
				{{ form.hidden_tag() }}
				<div class="field">
					<label class="label">{{ form.username.label }}</label>
					<div class="control">
						{{ form.username(size=32, class_="input") }}
					</div>
					{% for error in form.username.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">{{ form.password.label }}</label>
					<div class="control">
						{{ form.password(size=32, class_="input") }}
					</div>
					{% for error in form.password.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<div class="control">
						<label class="checkbox">
							{{ form.remember_me() }} {{ form.remember_me.label }}
						</label>
					</div>
				</div>
				<div class="field">
					<div class="control">
						{{ form.submit(class_="button is-link") }}
					</div>
				</div>
			</form>
			<br>
			<p>
				<a class="button" href="{{ url_for('register') }}">
					New? Please register here!
				</a>
			</p>
		</div>
	</div>

	</section>
{% endblock %}