{% extends "base.html" %}

{% block content %}
	<section class="hero is-small is-primary">
			<div class="hero-body">
					<h1 class="title">Register</h1>
			</div>
	</section>

	<section class="section is-medium">

	<div class="columns is-mobile is-centered">
		<div class="column is-half box">
			<form action="" method="post">
				{{ form.hidden_tag() }}
				<div class="field">
					<label class="label">{{ form.username.label }}</label>
					<div class="control">
						{{ form.username(size=32, class_="input") }}
					</div>
					{% for error in form.username.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">{{ form.email.label }}</label>
					<div class="control">
						{{ form.email(size=64, class_="input") }}
					</div>
					{% for error in form.email.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">{{ form.password.label }}</label>
					<div class="control">
						{{ form.password(size=32, class_="input") }}
					</div>
					{% for error in form.password.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<label class="label">{{ form.password2.label }}</label>
					<div class="control">
						{{ form.password2(size=32, class_="input") }}
					</div>
					{% for error in form.password2.errors %}
					<p class="help" style="color: red;">[{{ error }}]</p>
					{% endfor %}
				</div>
				<div class="field">
					<div class="control">
						{{ form.submit(class_="button is-link") }}
					</div>
				</div>
			</form>
		</div>
	</div>

	</section>

{% endblock %}
