{% extends "base.html" %}

{% block content %}
    <section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Search for datasets by category</h1>
        </div>
    </section>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
            <label class="label">
                <!-- {{ form.tags.label }} (Minimum 1, else comma separated list)-->
                Comma separated list (minimum 1)
            </label>
            <div class="control">
                {{ form.tags(size=64, class_="input") }}
            </div>
            {% for error in form.tags.errors %}
            <p class="help" style="color: red;">[{{ error }}]</p>
            {% endfor %}
        </div>
        <div class="field">
            <div class="control">
                {{ form.submit(class_="button is-link") }}
            </div>
        </div>
    </form>
{% endblock %}