{% extends "base.html" %}

{% block content %}
    <section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Search Results</h1>
            <h2 class="subtitle">
                These are the datasets with categories that match your search.
            </h2>
        </div>
    </section>

    <hr>
    {% if results %}
    <div class="columns is-mobile is-multiline is-centered">
    {% for result in results %}
    <div class="column is-half">
        <div class="content is-small box">
            <h1>
                Title: {{ ' '.join(result['id'].split('_')) }}
            </h1>
            <p>
                Author: {{ result['author'] }}
            </p>
            <h3>Contents:</h3>
            <ul>
                {% for file in result['contents'] %}
                <li>{{ file }}</li>
                {% endfor %}
            </ul>
            <h3>Categories:</h3>
            <ul>
                {% for tag in result['tags'] %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul> 
            <br>
            <a class="button" href="{{ url_for('view_dataset', dataset_id=result['id']) }}">View Dataset</a>
        </div>
    </div>
    <hr>
    {% endfor %}
    </div>
    {% endif %}
    
{% endblock %}