{% extends "base.html" %}

{% block content %}
	<section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Settings</h1>
        </div>
    </section>

    <section class="section is-small">
		<h3 class="subtitle">User: {{ current_user.fullname }}</h3>
		<h3>API Token: {{ current_user.get_api_token() }}</h3>
	</section>

<!--
	<hr>

	<section class="section is-small">
		<h3 class="subtitle">Reset Password</h3>
		<div class="columns is-mobile">
			<div class="column is-half">
				<form action="" method="post">
					{{ passform.hidden_tag() }}
					<div class="field">
						<label class="label">{{ passform.curr_password.label }}</label>
						<div class="control">
							{{ passform.curr_password(size=32, class_="input") }}
						</div>
						{% for error in passform.curr_password.errors %}
						<p class="help" style="color: red;">[{{ error }}]</p>
						{% endfor %}
					</div>
					<div class="field">
						<label class="label">{{ passform.password.label }}</label>
						<div class="control">
							{{ passform.password(size=32, class_="input") }}
						</div>
						{% for error in passform.password.errors %}
						<p class="help" style="color: red;">[{{ error }}]</p>
						{% endfor %}
					</div>
					<div class="field">
						<label class="label">{{ passform.password2.label }}</label>
						<div class="control">
							{{ passform.password2(size=32, class_="input") }}
						</div>
						{% for error in passform.password2.errors %}
						<p class="help" style="color: red;">[{{ error }}]</p>
						{% endfor %}
					</div>
					<div class="field">
						<div class="control">
							{{ passform.submit(class_="button is-link") }}
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
-->
	<hr>

	<section class="section is-small">
		<h3 class="subtitle">Groups</h3>
		<ul>
		{% for g in g_perms %}
			<li>{{ g }}</li>
		{% endfor %}
		</ul><br>
		<p>
			<a class="button is-link" href="{{ url_for('create_group') }}">Create new group</a>
		</p>
	</section>

	<hr>

{% endblock %}