{% extends "base.html" %}

{% block content %}
    <section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">Dataset Name: {{ ' '.join(result['id'].split('_')) }}</h1>
            <h3 class="subtitle">Dataset Author: {{ result['author'] }}</h3>
            <!-- <h3>Categories:</h3>
            <ul>
                {% for tag in result['tags'] %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul> -->
        </div>
    </section>

    <section class="section">
        <h2 class="subtitle"> Download Options </h2>
        <hr>

        <div class="content is-small box">
            <h4>Download full dataset</h4>
            <a class="button is-link" href="{{ url_for('download_dataset', dataset_id=result['id']) }}">
                Download
            </a>
        </div>
        <hr>

        <div class="content is-small box">
            <h4>Download part of a dataset via selection</h4>
            <form action="" method="post">
                {{ select_form.hidden_tag() }}
                <div class="field">
                    {{ select_form.dataset_list }}
                </div>
                <div class="field">
                    <div class="control">
                        {{ select_form.submitSelect(class_="button is-link") }}
                    </div>
                </div>
            </form>
        </div>
        <hr>

        <div class="content is-small box">
            <h4>Download part of a dataset via filter</h4>
            <p>
                The filter is an expression that will match one unique string within a set of files (excluding the file extension)
            </p>
            <form action="" method="post">
                {{ filter_form.hidden_tag() }}
                <div class="field">
                    <label class="label">{{ filter_form.id_filter.label }}</label>
                    <div class="control">
                        {{ filter_form.id_filter(size=32) }}
                    </div>
                    {% for error in filter_form.id_filter.errors %}
                    <p class="help" style="color: red;">[{{ error }}]</p>
                    {% endfor %}
                </div>
                <div class="field">
                    <div class="control">
                        {{ filter_form.submitFilter(class_="button is-link") }}
                    </div>
                </div>
            </form>
        </div>
    </section>
    
{% endblock %}